<div class="movie-card">
    <div class="movie-header" style="background: url('{{ticket?.imageUrl}}'); background-size: cover;">
        <div class="header-icon-container">
            <a href="#">
                <i class="material-icons header-icon">&#65284;</i>
            </a>
        </div>
    </div>
    <div class="movie-content">
        <div class="movie-content-header">
            <a href="#">
                <h3 class="movie-title">{{ticket?.title}}</h3>
            </a>
            <h6>{{ticket?.subTitle}}</h6>
        </div>
        <div class="movie-info">
            <div class="info-section">
                <label>Date &amp; Time</label>
                <span>{{ticket?.showTime | date: 'yyyy/MM/dd - hh:mm'}}</span>
            </div>
            <div class="info-section">
                <label>Location</label>
                <span>{{ticket?.cityName}}</span>
            </div>
            <div class="info-section">
                <label>Price</label>
                <span>${{ticket?.price}}</span>
            </div>
            <div class="info-section">
                <label>Remain</label>
                <span>{{ticket?.remainNumber}}</span>
            </div>
        </div>
    </div>
</div>
