<div class="movie-card">
    <div class="movie-header babyDriver">
        <div class="header-icon-container">
            <a href="#">
                <i class="material-icons header-icon">&#65284;</i>
            </a>
        </div>
    </div>
    <div class="movie-content">
        <div class="movie-content-header">
            <a href="#">
                <h3 class="movie-title">Man of Steel</h3>
            </a>
        </div>
        <div class="movie-info">
            <div class="info-section">
                <label>Date &amp; Time</label>
                <span>Sun 8 Sept - 10:00PM</span>
            </div>
            <div class="info-section">
                <label>Location</label>
                <span>Taipei</span>
            </div>
            <div class="info-section">
                <label>Price</label>
                <span>$100</span>
            </div>
            <div class="info-section">
                <label>Remain</label>
                <span>3145</span>
            </div>
        </div>
    </div>
</div>
