<div class="container">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field hintLabel="Max 30 characters" appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput #input maxlength="30" placeholder="Enter a title">
                <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field hintLabel="Max 20 characters" appearance="fill">
                <mat-label>Subtitle</mat-label>
                <input matInput #input maxlength="20" placeholder="Enter a Subtitle">
                <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
            </mat-form-field>
        </div>
        <div class="md-6">
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <mat-select>
                    <mat-option value="option">Option</mat-option>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
            </mat-form-field>
        </div>
    </div>
</div>
