<div class="container">
    <div class="row mt-3" *ngIf="(newsService.newList$ | async) as newList">
        <div class="col-md-4 mb-3" *ngFor="let item of newList">
            <mat-card>
                <mat-card-header style="height: 100px">
                    <div mat-card-avatar class="news-header-image"></div>
                    <mat-card-title>{{item.title}}</mat-card-title>
                    <mat-card-subtitle>{{item.subTitle}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{item.imageUrl}}" alt="">
                <mat-card-content>
                    <p class="text-justify">{{item.content}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <a routerLink="/news/{{item.id}}" mat-raised-button color="primary">MORE</a>
                    <span class="text-muted float-end mt-2">{{item.postDate | date: 'yyyy-MM-dd'}}</span>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <div class="row mt-3" *ngIf="(busyService.loading$ | async)">
        <div class="col-4">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="news-header-image"></div>
                    <mat-card-title>loaging...</mat-card-title>
                    <mat-card-subtitle>loaging...</mat-card-subtitle>
                </mat-card-header>
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <mat-card-content>
                    <p class="placeholder-glow">
                        <span class="placeholder col-4 me-3"></span>
                        <span class="placeholder col-3 me-3"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-12"></span>
                        <span class="placeholder col-5 me-3"></span>
                        <span class="placeholder col-3 me-3"></span>
                        <span class="placeholder col-2 me-3"></span>
                        <span class="placeholder col-12"></span>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button color="primary" disabled class="disabled placeholder">loading...</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-4">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="news-header-image"></div>
                    <mat-card-title>loaging...</mat-card-title>
                    <mat-card-subtitle>loaging...</mat-card-subtitle>
                </mat-card-header>
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <mat-card-content>
                    <p class="placeholder-glow">
                        <span class="placeholder col-4 me-3"></span>
                        <span class="placeholder col-3 me-3"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-12"></span>
                        <span class="placeholder col-5 me-3"></span>
                        <span class="placeholder col-3 me-3"></span>
                        <span class="placeholder col-2 me-3"></span>
                        <span class="placeholder col-12"></span>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button color="primary" disabled class="disabled placeholder">loading...</a>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-4">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="news-header-image"></div>
                    <mat-card-title>loaging...</mat-card-title>
                    <mat-card-subtitle>loaging...</mat-card-subtitle>
                </mat-card-header>
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180"
                    xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder"
                    preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Placeholder</title>
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <mat-card-content>
                    <p class="placeholder-glow">
                        <span class="placeholder col-4 me-3"></span>
                        <span class="placeholder col-3 me-3"></span>
                        <span class="placeholder col-4"></span>
                        <span class="placeholder col-12"></span>
                        <span class="placeholder col-5 me-3"></span>
                        <span class="placeholder col-3 me-3"></span>
                        <span class="placeholder col-2 me-3"></span>
                        <span class="placeholder col-12"></span>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button color="primary" disabled class="disabled placeholder">loading...</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
