<div class="container">
    <a mat-button routerLink="/home" class="static-banner"><fa-icon [icon]="faArrowLeft"></fa-icon>&ensp;BACK TO HOME</a>
    <div class="slider" data-carousel>
        <div class="carousel-cell" style="background-image: url(../../../assets/image/7357423.jpeg);">
          <div class="overlay"></div>
          <div class="inner">
            <h3 class="subtitle">Slide 1</h3>
            <h2 class="title">Flickity Parallax</h2>
            <a href="https://flickity.metafizzy.co/" class="btn">Tell me more</a>
          </div>
        </div>
      <div class="carousel-cell" style="background-image: url(../../../assets/image/35243754.jpeg);">
          <div class="overlay"></div>
          <div class="inner">
            <h3 class="subtitle">Slide 2</h3>
            <h2 class="title">Flickity Parallax</h2>
            <a href="https://flickity.metafizzy.co/" class="btn">Tell me more</a>
          </div>
        </div>
      <div class="carousel-cell" style="background-image: url(../../../assets/image/7463534.jpeg);">
          <div class="overlay"></div>
          <div class="inner">
            <h3 class="subtitle">Slide 3</h3>
            <h2 class="title">Flickity Parallax</h2>
            <a href="https://flickity.metafizzy.co/" class="btn">Tell me more</a>
          </div>
        </div>
    </div>
</div>

